<nav></nav>
 <main>
  <p id="setting">プロフィール設定の変更</p>
    <div class="setting">
     <% if flash[:notice] == "プロフィールの設定を更新しました"%>
      <p id="setting_flash"><%= flash[:notice] %></p>
     <% end %>
     <ul>
     <% @user.errors.full_messages.each do |message| %>
      <li id="setting_error_msgs"><%= message %></li>
     <% end %>
     </ul>
     <%= form_with(model: @user, url: setting_update_path , local: true, data: { turbo: false }) do |f| %>
        <div class="name">
         <%= f.label :name, "名前の変更" %>
         <%= f.text_field :name, value: @user.name %>
       </div>
       <div class="grade">
         <%=f.label :grade, "現在の学年" %>
         <%= f.select :grade, [["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"], ["5", "5"], ["6", "6"], ["7", "7"]], value: @user.grade %>
       </div>
       <div class="semester">
         <%=f.label :semester, "現在のセメスター" %>
         <%= f.select :semester, [["春セメスター", "春セメスター"], ["秋セメスター", "秋セメスター"]], value: @user.semester %>
       </div>
       <div class="private">
          <%= f.label :private, "時間割を非公開にしますか？" %>
          <%= f.check_box :private, :as => :boolean %>
       </div>
       <div class="submit">
        <%= f.submit '変更を保存する'%>
       </div>
     <% end %>
    </div>
 </main>
 <aside></aside>