<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    
    <%= javascript_importmap_tags %>
  </head>

   <body>
        <header>
          <div class= "header-logo"><%=link_to "履修登録App", "/" %></div>
          <div class= "header-list-left">
            <% if current_user %>
             <ul>
              <li><%=link_to "時間割", tasks_path%></li>
              <li><%=link_to "ブックマーク", bookmarks_path%></li>
              <li><%=link_to "ブックマーク登録", bookmarks_new_path%></li>
             </ul>
            <% end %> 
          </div>
          <div class="header-list-right">
           <% if current_user %>
            <ul>
              <li><%=link_to "ログアウト", logout_path, data: {turbo_method: :delete} %></li>
              <li><%=link_to "設定", setting_path %></li>
            </ul>
           <% else %> 
            <ul>
              <li><%=link_to "新規登録", users_path%></li>
              <li><%=link_to "ログイン", login_path%></li>
            </ul>
           <% end %> 
          </div>
        </header>
        <div class= "layout">
           <%= yield %>
        </div>
        <footer>footer</footer>
    </body>
  
</html>

